{% extends 'base.html' %} {% block body %}

<head>
  <title>北陸、富山のキャンプ場の人気ランキング！</title>
</head>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
<h2>キャンプ場いろいろランキング！</h2>
<h3>口コミ、評価、レビュー数などなど！</h3>
<p>下のボタンでいろいろな順番で表示できます。</p>
{{ campranksinf._imagepath1 }}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    並び替え
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">口コミ数が多い順</a>
    <a class="dropdown-item" href="#">評価が高い順</a>
    <a class="dropdown-item" href="#">口コミ数が少ない順</a>
    <a class="dropdown-item" href="#">評価が低い順</a>
  </div>
</div>
  <div class="col-md">
    <div class="card">
      <img src={{ campranksinf._imagepath1 }} class="card-img-top" alt="aiueo">
      <div class="card-body">
        <p class="card-text">1位</p>
        <p class="card-text">{{ campranksinf._campname1 }}</p>
        <p class="card-text">{{ campranksinf._totalstar1 }}</p>
        <p class="card-text">{{ campranksinf._total_review_count1 }}</p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="container">
    <div class="row">
      <div class=" col-md">
        <div class="card">
          <img src={{ campranksinf._imagepath2 }} class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">2位</p>
            <p class="card-text">{{ campranksinf._campname2 }}</p>
            <p class="card-text">{{ campranksinf._totalstar2 }}</p>
            <p class="card-text">{{ campranksinf._total_review_count2 }}</p>
          </div>
        </div>
      </div>
      <div class=" col-md">
        <div class="card">
          <img src={{ campranksinf._imagepath3 }} class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">3位</p>
            <p class="card-text">{{ campranksinf._campname3 }}</p>
            <p class="card-text">{{ campranksinf._totalstar3 }}</p>
            <p class="card-text">{{ campranksinf._total_review_count3 }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="container">
    <div class="row">
      <div class=" col-md">
        <div class="card">
          <img src={{ campranksinf._imagepath4 }} class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">4位</p>
            <p class="card-text">{{ campranksinf._campname4 }}</p>
            <p class="card-text">{{ campranksinf._totalstar4 }}</p>
            <p class="card-text">{{ campranksinf._total_review_count4 }}</p>
          </div>
        </div>
      </div>
      <div class=" col-md">
        <div class="card">
          <img src={{ campranksinf._imagepath5 }} class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">5位</p>
            <p class="card-text">{{ campranksinf._campname5 }}</p>
            <p class="card-text">{{ campranksinf._totalstar5 }}</p>
            <p class="card-text">{{ campranksinf._total_review_count5 }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}