{% extends 'base.html' %} {% block body %}

<head>
  <title>北陸、富山のキャンプ場のおすすめ人気ランキング！</title>
</head>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
<h2>キャンプ場おすすめ人気ランキング！</h2>
<h3>GoogleMapでの口コミ、評価、レビュー数など</h3>
<p>下のボタンで様々なランキング順番で表示できます。</p>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    並び替え
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/ranking?rank=review">口コミ数が多い順</a>
    <a class="dropdown-item" href="/ranking?rank=star">評価が高い順</a>
  </div>
</div>
  <div class="col-md">
    <div class="card">
      <img src={{ campranksinf._imagepath1 }} class="card-img-top" alt="aiueo">
      <div class="card-body">
        <h1 class="card-text">1位</h1>
        <h2 class="card-text">{{ campranksinf._campname1 }}</h2>
        <h4 class="card-text">レビュー評価点:&nbsp;&nbsp;&nbsp;&nbsp;{{ campranksinf._totalstar1 }}</h4>
        <h4 class="card-text">口コミ数:&nbsp;&nbsp;&nbsp;&nbsp;{{ campranksinf._total_review_count1 }}件</h4>
        <p class="card-text">powered by Google</p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="container">
    <div class="row">
      <div class=" col-md">
        <div class="card">
          <img src={{ campranksinf._imagepath2 }} class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-text">2位</h2>
            <h3 class="card-text">{{ campranksinf._campname2 }}</h3>
            <h4 class="card-text">レビュー評価点:&nbsp;&nbsp;&nbsp;&nbsp;{{ campranksinf._totalstar2 }}</h4>
            <h4 class="card-text">口コミ数:&nbsp;&nbsp;&nbsp;&nbsp;{{ campranksinf._total_review_count2 }}件</h4>
            <p class="card-text">powered by Google</p>
          </div>
        </div>
      </div>
      <div class=" col-md">
        <div class="card">
          <img src={{ campranksinf._imagepath3 }} class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-text">3位</h3>
            <h3 class="card-text">{{ campranksinf._campname3 }}</h3>
            <h4 class="card-text">レビュー評価点:&nbsp;&nbsp;&nbsp;&nbsp;{{ campranksinf._totalstar3 }}</h4>
            <h4 class="card-text">口コミ数:&nbsp;&nbsp;&nbsp;&nbsp;{{ campranksinf._total_review_count3 }}件</h4>
            <p class="card-text">powered by Google</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="container">
    <div class="row">
      <div class=" col-md">
        <div class="card">
          <img src={{ campranksinf._imagepath4 }} class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-text">4位</h3>
            <h3 class="card-text">{{ campranksinf._campname4 }}</h3>
            <h4 class="card-text">レビュー評価点:&nbsp;&nbsp;&nbsp;&nbsp;{{ campranksinf._totalstar4 }}</h4>
            <h4 class="card-text">口コミ数:&nbsp;&nbsp;&nbsp;&nbsp;{{ campranksinf._total_review_count4 }}件</h4>
            <p class="card-text">powered by Google</p>
          </div>
        </div>
      </div>
      <div class=" col-md">
        <div class="card">
          <img src={{ campranksinf._imagepath5 }} class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-text">5位</h3>
            <h3 class="card-text">{{ campranksinf._campname5 }}</h3>
            <h4 class="card-text">レビュー評価点:&nbsp;&nbsp;&nbsp;&nbsp;{{ campranksinf._totalstar5 }}</h4>
            <h4 class="card-text">口コミ数:&nbsp;&nbsp;&nbsp;&nbsp;{{ campranksinf._total_review_count5 }}件</h4>
            <p class="card-text">powered by Google</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}